<%= h1 "Inspect patient", size: "xl" %>

<p>Other patient IDs: <%= @other_patient_ids %></p>

<pre class="mermaid">
  <%= @mermaid.html_safe %>
</pre>
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
</script>

<%= render AppDetailsComponent.new(summary: "Graph options", expander: true, open: true) do %>
  <%= form_with url: inspect_patient_path(@patient), method: :get, local: true do |form| %>
    <div class="nhsuk-form-group">
      <%= form.label :other_patient_ids, "Other patient IDs (comma separated)", class: "nhsuk-label" %>
      <%= form.search_field :other_patient_ids, value: params[:other_patient_ids], class: "nhsuk-input" %>
    </div>

    <div class="nhsuk-form-group">
      <%= form.label :other_parent_ids, "Other parent IDs (comma separated)", class: "nhsuk-label" %>
      <%= form.search_field :other_parent_ids, value: params[:other_parent_ids], class: "nhsuk-input" %>
    </div>

    <%= form.govuk_check_boxes_fieldset :missing_nhs_number, multiple: false, legend: nil do %>
      <%= form.govuk_check_box :include_consents, 1, 0, multiple: false,
                               label: { text: "Include consents" }, include_hidden: false, checked: @include_consents %>
      <%= form.govuk_check_box :include_class_imports, 1, 0, multiple: false,
                               label: { text: "Include class imports" }, include_hidden: false, checked: @include_class_imports  %>
    <% end %>

    <%= form.govuk_submit "Update graph", name: nil %>
  <% end %>
<% end %>